body{
    background-color: rgb(24, 28, 48);
    
}

/*_________________________________________________________________*/

/*Botones de la parte de arriba*/

.section-botonesinicio{
    display: flex;
    align-items: flex-end;
    gap: 250px;
}

svg{
    margin-right: -150px;
    margin-bottom: -100px;
    height: 150px;
    width: 150px;
}

.rect-polygon{
    animation-name: animacion;
    animation-duration: 60s;
    animation-delay: none;
}

@keyframes animacion{
    25%{
        fill: green;
    }
    50%{
        fill: yellow;
        stroke: black;
    }
    75%{
        fill: red;
    }
}

.botoneshyj{
    background-color: rgb(230, 221, 196);
    border-bottom-left-radius: 10% ;
    border-bottom-right-radius: 10% ;
    border-top-left-radius: 15% ;
    border-top-right-radius: 15% ;
    color: rgb(24, 28, 48);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 2px 2px rgb(103, 137, 131);
}

#historia{
    margin-left: 350px;
}

#juguemos{
    margin-left: -200px;
}

.botoneshyj:active{
    box-shadow: none;
    transform: translate(2px, 2px);
}

a{
    text-decoration: none;
}

/*_________________________________________________________________*/

/* Título y subtítulo */

h1{
    color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-bottom: 200px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 200px;
    text-align: center;
    text-shadow: 5px 5px black;
}

h2{
    margin-top: -60px;
    color: rgb(103, 137, 131);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.fondotitulo{
    background-image: url('./codigo.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    margin-bottom: 250px;
    margin-left: -10px;
    margin-right: -10px;
}

/*_________________________________________________________________*/

/* Juego */

#destino{
    display: flex;
    margin-left: 20px;
}

.zonadestino{
    margin-bottom: 50px;
    margin-left: 2px;
    margin-top: 50px;
    background-color: grey;
    color: white;
    height: 400px;
    width: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#imagenes{
    margin-left: 20px;
}

.imagenesjuego{
    margin-left: 5px;
    margin-bottom: 100px;
    margin-top: 40px;
    height: 400px;
    width: 300px;
    gap: 10px;
}

/*_________________________________________________________________*/

/* Botón de reinicio */


.reinicio{
    display:flex;
}


.botonresetjuego{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 221, 196);
    color: black;
    margin-bottom: 120px;
    margin-left: 300px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    border: 4px solid black;
    border-radius: 25%;
    box-shadow: 4px 4px rgb(103, 137, 131);
}

.botonresetjuego:active{
    box-shadow: none;
    transform: translate(4px, 4px);
}

p{
    padding-top: 100px;
}

